/* Global Styles */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis',monospace;
    /* border: 1px solid green;  */
    color: white;
}

body {
    background-color: lightcoral;
    overflow: hidden;
   }

p {
    /* color: white;  */
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: rgb(228, 122, 56);
    /* color: white; */
    font-size: 1.3em;
}

h1, h2 {
    color: white;
    text-align: center;
}

li {
    list-style: none;
} 

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Top-Bar p {
    float: right;
}

.Inner-Container {
    background-color: coral;
    /* background-color: black; */
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Quiz, main {
    display: block;
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(228, 122, 56);
}


.Quiz p {
    text-align: center;
}

.Quiz button {
    display: block; 
    background-color: rgb(195, 220, 241);
    margin: 0 auto;
}

main {
    display: block;
}

/* Questions */

.Questions {
    display: none;
}

.Quiz-finish {
    display: none;
}

.High-Score {
    display: none;
}

.High-Score ol {
    overflow-y: scroll;
}

